html, body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    height: 24px;
    color: #e5e7eb;
    display: flex;
    list-style: none;
    margin-right: 150px;
}

img {
    color: #f9faf8;
    height: 24px;
    font-weight: bold;
    margin-left: 150px;
}

.first-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.third-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 250px;
}

.author {
    align-self: flex-end;
}

/* Fourth container */

.fourth-container {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 50x;
    margin-left: 500px;
    margin-right: 500px;

}

.call {
    height: 24px;
    font-weight: bold;
}

.button2 {
    background-color:#3882f6;
    color: white;
    font-weight: bold;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Fourth container */

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 30px;
    margin-top: 100px
}
